<a href="https://colab.research.google.com/github/Cristianshaka/DataScience/blob/main/casas_aula04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Bibliotecas

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

> Importando o DataSet

[Link para o DataSet](https://www.kaggle.com/datasets/rubenssjr/brasilian-houses-to-rent/data)

In [ ]:
from google import colab
colab.drive.mount('/content/drive')

In [ ]:
df = pd.read_csv('') # Cole o coaminho para seu dataframe

# Pré-Processamemto

**Etapas:**
- 1 - Visualização
- 2 - Renomeação de Colunas
- 3 - Imputação(Valores Faltando)
- 4 - Tratamento de Textos
- 5 - Normalização/Padronização

## Visualização

In [ ]:
# Informações gerais sobre o DataFrame
df.info()

In [ ]:
# Resumo estatístico das colunas numéricas
df.describe()

In [ ]:
# Verificar valores ausentes
df.isnull().sum()

## Imputação

Decisões:
- Média
  - Desvio Padrão
- Moda
- Mediana

- Remoção Total: Remoção de todos os valores faltantes, importante para colunas inuteis.

In [ ]:
df['floor'].value_counts()

In [ ]:
# Trocando string por null
df['floor'] = df['floor'].replace('-', np.nan)

# Decisão de remover valores faltantes
df.dropna(subset=['floor'], inplace=True)

df.isnull().sum()

In [ ]:
df.info()

In [ ]:
df.head()

## Tratando colunas

> Em alguns casos, por questões de praticidade, a renomeação de colunas pode ser uma etapa a se considerar no pré-processamento

Por exemplo, é muito mais simples escrever `total` ao invés de `total (R$)`

In [ ]:
import re # biblioteca para uso de regex

# Façam uma lista com as colunas a serem removido os elementos '(R$)'
colunas = []

for coluna in colunas:
    novo_nome = re.sub(r'[R$()]+', '', coluna)
    df.rename(columns={coluna : novo_nome}, inplace=True)

# Imprima as colunas

- Normalmente utilizamos regex para remoção de caracteres específicos em uma string.

- `[]` informa o conjunto de caracteres a ser substituido
- `R$()` são os nossos alvos
- `+` informa a substituição de uma ou mais ocorrências

In [ ]:
# Imprima o resultado com a cabeça do DataFrame

## Lidando com texto

> Por que categorizar dados?

A técnica mais usada é chamada **Label Encoding**, esta técninca envolve categorizar valores não numéricos, por exemplo:

`homem = 1` e `mulher = 0`

In [ ]:
# identificação da coluna
df[['animal', 'furniture']].value_counts()

In [ ]:
# Categorozação da coluna animais e furniture
df['animal'].replace({'acept': 1, 'not acept': 0}, inplace=True)

# Faça o mesmo com a coluna 'furniture'

- 0 : Não
- 1 : Sim

- Transformando coluna floor em inteiro

In [ ]:
# Complete o código abaixo transformando a coluna 'floor' em númerico
.astype(int)

In [ ]:
df.dtypes

In [ ]:
df.head()

# Exportando o DataFrame

> Com o DataFrame limpo, agora podemos exportar o mesmo para as etapas de visualização e modelagem.

In [ ]:
df.to_csv('casas_limpo.csv', index=False)